body {


margin: 0;

padding: 0;

font-family: Arial, Helvetica, sans-serif;

background:
    linear-gradient(
        135deg,
        #0f2027,
        #203a43,
        #2c5364
    );

min-height: 100vh;

display: flex;

justify-content: center;

align-items: center;

color: white;

}

.container {


width: 430px;

padding: 35px;

background:
    rgba(255, 255, 255, 0.10);

backdrop-filter: blur(15px);

border-radius: 20px;

box-shadow:
    0 15px 40px rgba(0, 0, 0, 0.5);

text-align: center;


}

h1 {


color: #00e5ff;

margin-bottom: 10px;


}

p {


color: #cbd5e1;

line-height: 1.6;


}

label {


display: block;

text-align: left;

margin-top: 25px;

margin-bottom: 8px;

font-weight: bold;


}

.password-box {


display: flex;

width: 100%;


}

.password-box input {


flex: 1;

padding: 14px;

border: none;

outline: none;

font-size: 16px;

border-radius: 10px 0 0 10px;

box-sizing: border-box;


}

.password-box button {


width: 55px;

border: none;

cursor: pointer;

background: white;

border-radius: 0 10px 10px 0;

font-size: 18px;


}

.check-button {


width: 100%;

margin-top: 20px;

padding: 14px;

border: none;

border-radius: 10px;

background: #00c853;

color: white;

font-size: 17px;

font-weight: bold;

cursor: pointer;


}

.check-button:hover {


background: #00e676;


}

/* =========================
RESULT
========================= */

.result-box {


margin-top: 25px;

padding: 22px;

border-radius: 15px;

display: block;


}

.result-box.common {

background:
    rgba(255, 82, 82, 0.15);

border:
    2px solid #ff5252;


}

.result-box.not-common {


background:
    rgba(0, 230, 118, 0.15);

border:
    2px solid #00e676;


}

.result-icon {


font-size: 42px;


}

.result-box h2 {


margin: 10px 0;


}

.result-box.common h2 {


color: #ff5252;


}

.result-box.not-common h2 {


color: #00e676;


}

.result-box p {


color: white;


}

.back-button {


display: inline-block;

margin-top: 25px;

color: #00e5ff;

text-decoration: none;


}

.back-button:hover {


text-decoration: underline;

}
